name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            cmake \
      
      - name: Install latest LLVM
        run: |
          sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"

      - name: Build simulator
        run: make

      - name: Run unit tests
        run: make test
