name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            cmake \
      
      - name: Install LLVM 16
        run: |
          sudo apt-get update
          sudo apt-get install -y llvm-16-dev
          sudo ln -sf /usr/bin/llvm-config-16 /usr/bin/llvm-config

      - name: Build simulator
        run: make

      - name: Run unit tests
        run: make test
